.w3-bar .w3-button i {
    color: white;
}

h1, h6{color:#2e456e;}

.w3-tag {background-color: #2e456e !important;}

.combo-card{
    position: relative;
    overflow: hidden;
    
}

.combo-description{
    position: absolute;
    top:525px;
    left:0%;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    z-index: 10;
    transition: top 0.3s ease-in-out;
}

.combo-card:hover .combo-description{
    top: 310px;
    opacity: 1;
}

.recpic {
    position: relative;
    overflow: hidden;
}

.recdesc {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 7px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    opacity: 0; 
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.recpic:hover .recdesc {
    top: 20px; 
    opacity: 1; 
}

